.main-container {
  padding-top: 1.5vh;
  overflow-x: hidden;
}

.right-aligned-text {
  color: #D3D3D3;
  text-align: left;
  font-size: 1em;
  padding-right: 15%;
  min-width: 45%;
}

.portrait-image {
  float: left;
  display: inline-block;
  width: 45%;
  max-width: 450px;
}

.about-text {
  color: #D3D3D3;
  text-align: left;
  font-family: 'Sans-Serif';
  font-size: 3em;
  padding-top: 6vh;
}

.w3-animate-bottom {
  position:relative;
  animation:animatebottom 1s
}
@keyframes animatebottom {
  from {
    bottom:-300px;
    opacity:0
  } 
  to {
    bottom:0;
    opacity:1
  }
}