.main-container {
  padding-top: 2vh;
  overflow-x: hidden;
}

.left-aligned-image {
  display: inline-block;
}

.right-aligned-text {
  color: white;
  text-align: left;
  display: inline-block;
  width: 45%;
  font-size: 1em;;
}

.portrait-image {
  float: left;
  width: 40%;
}

.about-text {
  color: white;
  text-align: left;
  font-family: 'Sans-Serif';
  font-size: 3em;
  padding-top: 3vh;
}

.w3-animate-bottom {
  position:relative;
  animation:animatebottom 1s
}
@keyframes animatebottom {
  from {
    bottom:-300px;
    opacity:0
  } 
  to {
    bottom:0;
    opacity:1
  }
}