h1 {
  color: white;
  text-align: center;
  font-family: 'Snell Roundhand';
  padding-top: 7%;
}

h2 {
  color: white;
  text-align: center;
}

h5 {
	color: white;
	font-size: 10px;
}

h6 {
  color: white;
	text-align: center;
}

.w3-animate-left {
  position:relative;
  animation:animateleft 1s
}
@keyframes animateleft {
  from {
    left:-300px;
    opacity:0
  } 
  to {
    left:0;
    opacity:1
  }
}