h1 {
  color: white;
  text-align: center;
  font-family: 'Snell Roundhand';
  padding-top: 2vh;
}

h2 {
  color: white;
  text-align: center;
}

h5 {
	color: white;
	font-size: 10px;
}

h6 {
  color: white;
	text-align: center;
}

input[type=text], select, textarea {
  border: 1px solid white; /* white border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: black;
  color: black;
  padding: 1vh;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* container is not taking up entire width, which messes up centering*/
.container {
  text-align: center;
  width: 100%;
  margin:0px auto;
}

.w3-animate-left {
  position:relative;
  animation:animateleft 1s
}
@keyframes animateleft {
  from {
    left:-300px;
    opacity:0
  } 
  to {
    left:0;
    opacity:1
  }
}

.w3-animate-right {
  position:relative;
  animation:animateright 1s
}
@keyframes animateright {
  from {
    right:-300px;
    opacity:0
  } 
  to {
    right:0;
    opacity:1
  }
}

.w3-animate-bottom {
  position:relative;
  animation:animatebottom 1s
}
@keyframes animatebottom {
  from {
    bottom:-300px;
    opacity:0
  } 
  to {
    bottom:0;
    opacity:1
  }
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.left {
  padding-right: 2%;
}

.right {
  padding-left: 2%;
}

.inline {
  display: inline-block;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 68px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-github {
  background:#24292e;
  color: white;
}