/*--- text styling selectors ---*/
h2 {
  color: white;
  text-align: center;
}

h6 {
  color: white;
	text-align: center;
}

.header-text {
  color: white;
  text-align: center;
  font-family: 'Snell Roundhand';
  font-size: 3.5em;
}

.error-text {
  font-size: 0.8em;
  color: red;
  text-align: center;
}

.footer-text {
  font-size: 0.8em;
  color: white;
  text-align: center;
}

/*--- form styling selectors ---*/
input[type=text], select {
  border: 1px solid white;
  border-radius: 4px; /* Rounded borders */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: black;
  padding: 1vh;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
}

input, select, textarea{
    color: white;
}

.form-control:valid {
  background-color: black;
}

.name-text-box {
  border: 1px solid white;
  border-radius: 4px; /* Rounded borders */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: black;
  padding: 3vh;
  width: 20vw;
  /*width: 300px;*/
  max-width: 400px;
  min-width: 200px;
}

.email-text-box {
  border: 1px solid white;
  border-radius: 4px; /* Rounded borders */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: black;
  padding: 1vh;
  width: 35vw;
  /*width: 400px;*/
  max-width: 500px;
  min-width: 250px;
}

textarea {
  border: 1px solid white;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: black;
  padding: 2vh;
  height: 20vh;
  width: 40vw;
  max-width: 330px;
  min-width: 200px;
}


/*--- container styling selectors ---*/
#page-container {
   height: 92vh; /* will cover the 100% of viewport */
   display: flex;
   flex-direction: column;
}

.about-content {
  text-align: center;
}

.form-container {
  text-align: center;
}

#content-wrap {
  padding-top: 3vh;
}

.footer {
  flex: 0 0 50px;
  margin-top: auto;
  padding-top: 3vh;
  text-align: center;
}


/*--- animation selectors ---*/
.w3-animate-left {
  position:relative;
  animation:animateleft 1s
}
@keyframes animateleft {
  from {
    left:-300px;
    opacity:0
  } 
  to {
    left:0;
    opacity:1
  }
}

.w3-animate-right {
  position:relative;
  animation:animateright 1s
}
@keyframes animateright {
  from {
    right:-300px;
    opacity:0
  } 
  to {
    right:0;
    opacity:1
  }
}

.w3-animate-bottom {
  position:relative;
  animation:animatebottom 1s
}
@keyframes animatebottom {
  from {
    bottom:-300px;
    opacity:0
  } 
  to {
    bottom:0;
    opacity:1
  }
}

.w3-animate-fading{ 
  animation:fading 7s
}
@keyframes fading {
  0% {
    opacity: 0
  } 50% {
    opacity: 1
  } 100% {
    opacity: 1
  }
}


/*--- social media button styling selectors --*/
.fa {
  padding: 20px;
  font-size: 24px;
  width: 63px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  /*background: #007bb5;*/
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  /*background: #E1306C;*/
  color: white;
}