.logo-black {
  background-image: url("../brand/branded_black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image1 {
        background-image: url("../brand/branded_black.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

/* birds and guitar */
.home-image1 {
  background-image: url("../images/wild_life/3_2905_1939.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image1 {
        background-image: url("../images/street/14_1367_2048.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

.home-image2 {
  background-image: url("../images/nature/25_2048_904.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image2 {
        background-image: url("../images/events/3_1367_2048.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

/* jelly fish landscape and portrait */
.home-image3 {
  background-image: url("../images/wild_life/2_4777_3164.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image3 {
        background-image: url("../images/wild_life/6_2999_4528.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

/* dare to be yourself and wedding dress photo */
.home-image4 {
  background-image: url("../images/street/2_2048_1367.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image4 {
        background-image: url("../images/weddings/3_4912_7360.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

/* tree nature photos landscape and portrait */
.home-image5 {
  background-image: url("../images/nature/3_4257_2820.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image5 {
        background-image: url("../images/nature/10_1367_2048.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

.home-image6 {
  background-image: url("../images/nature/14_4185_2772.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image6 {
        background-image: url("../images/portrait/1_1367_2048.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

.home-image7 {
  background-image: url("../images/wild_life/1_3872_2592.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image7 {
        background-image: url("../images/street/8_2291_3422.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}

.home-image8 {
  background-image: url("../images/street/6_2048_1367.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
  overflow: hidden; /* Hide scrollbars */
}
@media screen and (max-width: 500px) {
    .home-image8 {
        background-image: url("../images/nature/21_4696_7036.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 92.5vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.1);
        overflow: hidden; /* Hide scrollbars */
    }
}