.logo-black {
  background-image: url("../brand/branded_black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image1 {
  background-image: url("../images/wild_life/3_2905_1939.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image2 {
  background-image: url("../images/nature/25_2048_904.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}


.home-image3 {
  background-image: url("../images/wild_life/2_4777_3164.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image4 {
  background-image: url("../images/street/2_2048_1367.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image5 {
  background-image: url("../images/nature/3_4257_2820.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image6 {
  background-image: url("../images/nature/14_4185_2772.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image7 {
  background-image: url("../images/wild_life/1_3872_2592.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}

.home-image8 {
  background-image: url("../images/street/6_2048_1367.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.1);
}