.navbar .navbar-nav {
  margin: auto;
  white-space: nowrap;
}

.activated-home {
    border-bottom: 1px solid black;
}
.activated-photo {
    border-bottom: 1px solid white;
}
.activated-video {
    border-bottom: 1px solid white;
}
.activated-contact {
    border-bottom: 1px solid white;
}

.nav-link#home {
  color: black !important;
}
.nav-link#photo {
  color: white !important;
}
.nav-link#video {
  color: white !important;
}
.nav-link#contact {
  color: white !important;
}