.brand {
  color: white;
  font-family: 'Snell Roundhand';
  font-size: 3vh;
}

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}
 
#stickynav {
  display: block;
  height: 35px;
  width: 100%;
  z-index: 9999;
}
 
#stickynav #nav { position: fixed; z-index: 9999; }
#stickynav #nav li { display: inline; }
#stickynav #nav li a {
  display: block;
  float: left;
  margin-right: 8px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 7px;
  background: #cce4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#stickynav #nav li a:hover { 
  text-decoration: none;
  background: #d8f0d0;
}