.navbar .navbar-nav {
  margin: auto;
  white-space: nowrap;
}

.activated-home {
    background-size: 100% 3px, auto;
}
.activated-photo {
    background-size: 100% 3px, auto;
}
.activated-video {
    background-size: 100% 3px, auto;
}
.activated-contact {
    background-size: 100% 3px, auto;
}

.nav-link#home {
  color: black !important;
  font-weight: bold;
}
.nav-link#photo {
  color: white !important;
  font-weight: bold;
}
.nav-link#video {
  color: white !important;
  font-weight: bold;
}
.nav-link#contact {
  color: white !important;
  font-weight: bold;
}

a.nav-link:hover {
  background-size: 100% 3px, auto;
}

li {
  background-image: linear-gradient(black, white);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

a {
  background-image: linear-gradient(yellow, yellow);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

#dropdown-item-button {
  background-image: linear-gradient(yellow, yellow);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
  background-color: transparent;
  color: white !important;
  font-weight: bold;
  border: none !important;
  padding-top: 9%;
  outline: none !important;
}

#dropdown-item-button:hover {
  background-size: 100% 3px, auto;
}