.container-gallery {
  height: 80% !important;
  z-index: 999;
}

#dropdown-item-button {
  background-color: black;
  border-color: white;
}

.parentClass {
	height: 60vh;
	display: flex;
}

.size-carousel {
	height: 100vh;
}