.parentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
  width: 100%;
  padding: 0px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  border-radius: 8px;
  height: 80vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container div {
  scroll-snap-align: start;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  padding: 0px;
}

.player-wrapper {
  position: relative;
  width: 100%;
  padding: 0px;
}

.react-player {
  position: relative;
  margin: auto;
}

.align-top {
  vertical-align: top;
  display: block;
  margin: auto;
}