.player-wrapper {
  position: relative;
  height: 94vh;
  width: 100%;
}
 
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-player {
  margin: auto;
}