.parentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0px;
  overflow: hidden !important; /* Hide scrollbar */
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  border-radius: 8px;
  height: 85vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container div {
  scroll-snap-align: start;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden !important; /* Hide scrollbar */
}

.player-wrapper {
  position: relative;
  width: 100%;
  padding: 0px;
  overflow: hidden !important; /* Hide scrollbar */
}

.react-player {
  position: relative;
  margin: auto;
  height: 10vh;
  overflow: hidden !important; /* Hide scrollbar */
}